.app-layout {
  width: 100%;
  min-height: 100vh;
  background: #f8fafc;
}

.app-body {
  width: 100%;
  min-height: 100vh;
  padding-top: 76px;
}

.main-content {
  min-height: calc(100vh - 76px);
  width: calc(100vw - 329px);
  margin-left: 232px;
  padding: 64px 48px;
}